<div class="register-box">
  <div class="register-logo">
    <a href="../../index2.html"><b>Admin</b>LTE</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Registro </p>

      <form novalidate
      [formGroup]="formGroup">

        <div class="input-group mb-3">
          <input type="email" class="form-control"   id="emailId" placeholder="Email"  required
               formControlName="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
          <span class="help-block" *ngIf="(formGroup.get('email').touched || formGroup.get('email').dirty) && formGroup.get('email').errors">
            <span *ngIf="formGroup.get('email').errors.required">
              El campo email es requerido
            </span>
          </span>
        </div>
        <div class="input-group mb-3">
          <input  id="passwordId"
               type="password"
               required
               formControlName="password"  class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
   
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="button" class="btn btn-primary btn-block btn-flat"  (click)="registrarse()"
                  [disabled]="!formGroup.valid">Register</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-primary btn-block btn-flat">Loguaerse</button>
          </div>
          <div class="col-6">
            <button type="button" 
                  [routerLink]='["/"]' class="btn btn-primary btn-block btn-flat">Cancelar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>



      <a [routerLink]="['/login']" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
